.bar {
    background-color: gainsboro;
    height: 40px;
    border-radius: 15px;
    width: 90%;

    .completedBar {
        background-color: greenyellow;
        height: 100%;
        border-radius: 15px;
        z-index: 1;
    }
}

.container {
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        gap: 15px;
        margin: 0 !important;
        padding: 0 !important;

        li {
            width: 65%;
            padding: 10px 40px;
            height: 24%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 4rem;
            border-radius: 15px;
            border: none;
            color: white;

            i {
                margin-right: 100px;
                color: #fff;
                font-size: 4rem;
            }
        }

        .temp {
            background-color: rgb(17, 14, 202);
        }

        .humidity {
            background-color: rgb(33, 149, 179);
        }

        .water {
            background-color: aqua;
        }

        .ecology {
            background-color: rgb(7, 221, 18);
        }

        .pressure {
            background-color: gray;
        }
    }
}

@media screen and (max-width : 650px) {
    .ecology {
        font-size: 2rem !important;
    }
}

@media screen and (max-width: 530px) {
    li {
        font-size: 2rem !important;
    }
}